.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 97vh;
	overflow: hidden;
	&__code {
		z-index: 1;
		position: absolute;
	}
	&__wheel {
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}
