@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: #fcfcfd;
	--foreground: #262626;
	--card: #ffffff;
	--card-foreground: #262626;
	--popover: #ffffff;
	--popover-foreground: #262626;
	--primary: #e53e3e;
	--primary-foreground: #fcfcfd;
	--secondary: #fde8e8;
	--secondary-foreground: #e53e3e;
	--muted: #fde8e8;
	--muted-foreground: #a16262;
	--accent: #e53e3e;
	--accent-foreground: #fcfcfd;
	--destructive: #e53e3e;
	--border: #f0d2d2;
	--input: #f0d2d2;
	--ring: #e53e3e;
	--chart-1: #e53e3e;
	--chart-2: #ed8936;
	--chart-3: #dd6b20;
	--chart-4: #c53030;
	--chart-5: #ecc94b;
	--sidebar: #fcfcfd;
	--sidebar-foreground: #262626;
	--sidebar-primary: #ff8686;
	--sidebar-primary-foreground: #fcfcfd;
	--sidebar-accent: #fde8e8;
	--sidebar-accent-foreground: #e53e3e;
	--sidebar-border: #f0d2d2;
	--sidebar-ring: #e53e3e;
}

.dark {
	--background: #141414;
	--foreground: #fafafa;
	--card: #1a1a1a;
	--card-foreground: #fafafa;
	--popover: #1a1a1a;
	--popover-foreground: #fafafa;
	--primary: #e53e3e;
	--primary-foreground: #fafafa;
	--secondary: #262626;
	--secondary-foreground: #fafafa;
	--muted: #262626;
	--muted-foreground: #a3a3a3;
	--accent: #e53e3e;
	--accent-foreground: #fafafa;
	--destructive: #dc2626;
	--border: #404040;
	--input: #404040;
	--ring: #e53e3e;
	--chart-1: #e53e3e;
	--chart-2: #ea580c;
	--chart-3: #dc2626;
	--chart-4: #b91c1c;
	--chart-5: #991b1b;
	--sidebar: #1a1a1a;
	--sidebar-foreground: #fafafa;
	--sidebar-primary: #ff6b6b;
	--sidebar-primary-foreground: #fafafa;
	--sidebar-accent: #262626;
	--sidebar-accent-foreground: #fafafa;
	--sidebar-border: #404040;
	--sidebar-ring: #e53e3e;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
